<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (task(); as taskRef) {
      <div>
        <h2 data-cy="taskDetailsHeading"><span jhiTranslate="protasknubyyyApp.task.detail.title">Task</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ taskRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="protasknubyyyApp.task.title">Title</span></dt>
          <dd>
            <span>{{ taskRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="protasknubyyyApp.task.description">Description</span></dt>
          <dd>
            <span>{{ taskRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="protasknubyyyApp.task.status">Status</span></dt>
          <dd>
            <span>{{ taskRef.status }}</span>
          </dd>
          <dt><span jhiTranslate="protasknubyyyApp.task.priority">Priority</span></dt>
          <dd>
            <span>{{ taskRef.priority }}</span>
          </dd>
          <dt><span jhiTranslate="protasknubyyyApp.task.dueDate">Due Date</span></dt>
          <dd>
            <span>{{ taskRef.dueDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="protasknubyyyApp.task.completedAt">Completed At</span></dt>
          <dd>
            <span>{{ taskRef.completedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="protasknubyyyApp.task.project">Project</span></dt>
          <dd>
            @if (task()!.project) {
              <div>
                <a [routerLink]="['/project', task()!.project?.id, 'view']">{{ taskRef.project?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/task', taskRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
