<div class="row">
  <div class="col-md-3">
    <span class="hipster homepage-icon"></span>
  </div>
  <div class="col-md-9">
    <h1 class="display-4">Bienvenue, Java Hipster!</h1>
    <p class="lead">Ceci est votre page d'accueil.</p>

    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">Vous êtes connecté en tant que "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Si vous voulez</span>
        <a class="alert-link" (click)="login()">vous connecter</a>
        <span>, vous pouvez essayer les comptes par défaut:<br />- Administrateur (login="admin" et mot de passe="admin") <br />- Utilisateur (login="user" et mot de passe="user").</span>
      </div>
    </div>

    <p>Si vous avez des questions sur JHipster:</p>

    <ul>
      <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">Page d'accueil de JHipster</a></li>
      <li>
        <a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster sur Stack Overflow</a>
      </li>
      <li>
        <a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer">JHipster bug tracker</a>
      </li>
      <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a></li>
      <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">@jhipster sur Twitter</a></li>
    </ul>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-12">
    <jhi-dashboard></jhi-dashboard>
  </div>
</div>
